body {
    font-family: sans-serif;
    background: linear-gradient(to right, black, purple);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    color: #fff;
}

main {
    width: 400px;
    text-align: center;
    background-color: #ffffffaa;
    border-radius: 15px;
    box-shadow: 2px 2px 30px #fff;
}

h1, h2 {
    color: #000;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: .7em;
    font-weight:normal;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
    height: 30px;
    width: 30px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}